/* Typography */

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

.icons-social a img {
    height: 68px;
    margin: 10px 8px;
}

.icons-social a.wide img {
    width: 136px;
}

.icons-social i {
    font-size: 3em;
}


/* Custom Styles */

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
}

main>.intro {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 3.75em;
    font-weight: 600;
}

main>.tagline {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 100;
}

.devto {
    margin-bottom: -0.20rem;
}

.devto svg {
    margin-bottom: -0.20rem;
    margin-left: 0.675rem;
    width: 2.65rem;
    height: 2.65rem;
}

.badges {
    margin: 1.5rem 0;
}

.badges div {
    display: inline-block;
    margin-right: 50px;
}

.twitter-links {
    margin: 0;
}

.books table {
    display: inline-block;
    margin-right: 50px;
}

.books table img {
    max-height: 200px;
}

.page-section {
    padding-bottom: 20px;
    text-align: left;
}

.page-section h2 {
    color: #FCD53F;
}

.page-section p {
    padding: 10px 0;
}

.page-section p strong {
    color: #FCD53F;
}

.page-section p a {
    color: #FCD53F;
}

.page-section ul {
    list-style: none;
}